{% extends 'base.html' %}

{% block content %}
<h1>{{title}}</h1>
<p>Содержимое страницы</p>
<!-- Параметр action со значением "" означает, что запрос с формы будет обрабатывать текущий url адрес, с которого 
 делается запрос, если поставить значение на другой относительный путь, то запрос с формы уже будет обрабатываться функцией представления,
 которая отрабатывает для определенного относительного пути -->
 <!-- Чтобы передать какие-то данные на сервер лучше всего использовать параметр method со значением post, так как 
  он скрывает с url адреса данные передаваемые на сервер, заключая их в тело запроса "body" -->
<form action="" method="post">
  <!-- Строка добавляет в заголовок запроса дополнительную строку (ключ), без которого django не обработает запрос,
   нужен чтобы бороться с межсайтовыми атаками, а также убедиться, что запрос отправляет сам пользователь, а не взлоумышленник -->
  {% csrf_token %}
  <p><label for="id_1">Текст: <input id="id_1" name="filed_text" type="text"></label></p>
  <p><label for="id_2">Отметка: <input id="id_2" type="checkbox" name="filed_check"></label></p>
  <p><label for="id_3">Число: <input id="id_3" type="number" name="filed_num"></label></p>
  <p><label for="id_4">Пароль: <input id="id_4" type="password" name="filed_psw"></label></p>
  <p><button type="submit">Отправить</button></p>
</form>
{% endblock %}