{% extends 'base.html' %}

{% block content %}
<h1>{{title}}</h1>
<p>Содержимое страницы</p>
<!-- Параметр action со значением "" означает, что запрос с формы будет обрабатывать текущий url адрес, с которого 
 делается запрос, если поставить значение на другой относительный путь, то запрос с формы уже будет обрабатываться функцией представления,
 которая отрабатывает для определенного относительного пути -->
 <!-- Чтобы передать какие-то данные на сервер лучше всего использовать параметр method со значением post, так как 
  он скрывает с url адреса данные передаваемые на сервер, заключая их в тело запроса "body" -->
<form action="" method="post" enctype="multipart/form-data">
  <!-- Строка добавляет в заголовок запроса дополнительную строку (ключ), без которого django не обработает запрос,
   нужен чтобы бороться с межсайтовыми атаками, а также убедиться, что запрос отправляет сам пользователь, а не взлоумышленник -->
  {% csrf_token %}
  <div class="form-error">{{ form.non_field_errors }}</div>
  {% for item in form %}
  <p><label class="form-label" for="{{ item.id_for_label }}">{{ item.label }}</label>{{item }}</p>
  <div class="form-error">{{ item.errors }}</div>
  {% endfor %}
  <p><button type="submit">Отправить</button></p>
</form>
{% endblock %}