<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
</head>
<body>
  <p>{{ menu }}</p>
  <p>{{ float }}</p>
  <p>{{ lst }}</p>
  <p>{{ set }}</p>
  <p>{{ dict.key_1 }} {{dict.key_2}}</p>
  <p>{{ obj.a }}</p>
  <p>{{ url }}</p>
  <h1>{{ title|cut:" " }}</h1>
</body>
</html>

<!--
Функции в шаблонах:
----------------------------------
* add - прибавляет к аргументам (целочисленным числам) новое значение (если арг. дробный, 
то удаляется дробная часть и дальше идет работа с целой частью)
Пример:
<p>{{ float|add:"50" }}</p>
----------------------------------
* capfirst - преобразует первую букву строки в заглавную. Если первая буква заглавная, то фильтр ничего не делает
Пример:
<h1>{{ title|capfirst }}</h1>
----------------------------------
* upper - переводит все буквы строки в заглавный регистр
Пример:
<h1>{{ title|upper }}</h1>
----------------------------------
* lower - переводит все буквы строки в нижний регистр
Пример:
<h1>{{ title|lower }}</h1>
----------------------------------
* cut - позволяет удалить из строки указанный символ (все)
Пример:
<h1>{{ title|cut:" " }}</h1>
----------------------------------
* default - значение по умолчанию, если параметр не существует
Пример:
<title>{{ main_title|default:"Без заголовка" }}</title>
----------------------------------
* first - позволяет обратиться к первому элементу списка или кортежа
Пример:
<p>{{ menu|first }}</p>
----------------------------------
* last - позволяет обратиться к последнему элементу списка или кортежа
Пример:
<p>{{ menu|first }}</p>
----------------------------------
* join - объединяет все элементы списка в строку
Пример:
<p>{{ menu|join:" | " }}</p>
----------------------------------
* length - возвращает длинну списка или кортежа
Пример:
<p>{{ menu|length }}</p>
----------------------------------
* slugify - строку переводит в slug 
(преобразует строку (может содержать только английские буквы) в строку, где " "->"-", все английские буквы переводятся в малый регистр)
Пример:
<p>{{ "The Main Page"|slugify }}</p>
----------------------------------
-->

<!-- 
Чтобы в шаблонизаторе у класса или словаря обратиться к атрибуту, нужно использовать символ "."
* dict.key
* obj.a
-->