<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
</head>
<body>
  <ul>
    <li><a href="{% url 'home' %}">Главная страница</a></li>
    {% for m in menu %} <!-- Все аргументы берутся из шаблонов, которые наследуются от base.html -->
    {% if not forloop.last %}<li>{% else %}<li class="last">{% endif %}
      <a href="{% url m.url_name %}">{{ m.title }}</a>
    </li>
    {% endfor %}
  </ul>
  {%block content %} {% endblock %} <!-- Объявление блока, куда будет вставляться html в тех шаблонах, 
  который будут наследоваться от base.html через команду extends -->
</body>
</html>